---
import { Chat } from "@/react/chat";
import { NavBar } from "@/react/navbar";
import "@/styles/globals.css";

const url = Astro.url;
const activeUrl = url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <NavBar activeUrl={activeUrl} client:load />
    <slot />
  </body>
</html>
